@use '@/styles/global' as *;

.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background: $backgroundLight;

  &__sidebar {
    width: 240px;
    color: $textLight;
    background: $backgroundDark;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
    color: $textDark;
    background: $backgroundLight;
  }
}
