@use '@/styles/global' as *;

.case-card {
  position: relative;
  background: $backgroundWhite;
  display: flex;
  border: none;
  text-align: left;
  cursor: pointer;

  transition: transform $transition;

  &:hover {
    transform: translateY(-1px);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    border-radius: $s6;
    background: $textDark;
  }

  &__content {
    padding: $s8 $s2;
    display: flex;
    flex-direction: column;
    gap: $s4;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: $s8;
    flex-wrap: wrap;
  }

  &__id {
    font-size: $fontSizeMd;
    font-weight: $fontWeightBold;
    color: $textDark;
  }

  &__item {
    display: inline-flex;
    gap: $s4;
    align-items: baseline;
    white-space: nowrap;
    font-size: $fontSizeMd;
    color: $textDark;
  }

  &__label {
    font-weight: $fontWeightBold;
  }

  &__value {
    font-weight: $fontWeightRegular;
    color: rgba($textDark, 0.75);
  }

  &__notes {
    font-size: $fontSizeMd;
    color: rgba($textDark, 0.75);
    padding-left: $s28;
  }
}
