@use '@/styles/global' as *;

.overview {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.overview__header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.overview__title {
  font-size: $fontSizeLg;
  margin: 0;
  color: $textDark;
}

.overview__subtitle {
  font-size: $fontSizeSm;
  opacity: 0.7;
}

.overview__grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
