@use '@/styles/global' as *;

.button-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: $s6;
  cursor: pointer;
  font-weight: $fontWeightRegular;

  background: $backgroundWhite;
  color: $textDark;
  border: 1px solid $grayLight;

  transition:
    background $transition,
    box-shadow $transition,
    transform $transition,
    border-color $transition;

  &:hover {
    background: $backgroundWhite;
    border-color: $gray;
    transform: translateY(-1px);
    box-shadow: $shadow;
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
    transform: none;
    box-shadow: none;
  }
}

.button-text--default {
  background: $backgroundWhite;
  color: $textDark;
  border: 1px solid $grayLight;

  &:hover {
    background: $backgroundWhite;
    border-color: $gray;
    transform: translateY(-1px);
    box-shadow: $shadow;
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.button-text--filled {
  background: $buttonDark;
  color: $textLight;
  border: 1px solid $buttonDark;

  &:hover {
    background: $hoverDark;
    border-color: $buttonDark;
    transform: translateY(-1px);
    box-shadow: $shadow;
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.button-text--outline {
  background: $backgroundWhite;
  color: $textDark;
  border: 1px solid $grayLight;

  &:hover {
    background: $backgroundWhite;
    border-color: $gray;
    transform: translateY(-1px);
    box-shadow: $shadow;
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.button-text--sm {
  height: $s24;
  font-size: $fontSizeSm;
}

.button-text--md {
  height: $s32;
  font-size: $fontSizeMd;
}

.button-text--lg {
  height: $s40;
  font-size: $fontSizeLg;
}
